  <% @bookings.each do |b| %>
<div class="card-product">
  <img src=<%= b.hostel.photo1 %> >
  <div class="card-product-infos">
    <h2><%= b.hostel.name %></h2>
    <p>Booked for 3 nights: <%= b.start_at %> <%= b.end_at %> </p>
    <p> $<%= b.hostel.price %> <strong>per night</strong> </p>
  </div>
   <br>
  <br>
  <br>
</div>
  <% end %>

