<script src="https://js.stripe.com/v3/"></script>


<div class="business-dashboard">
<!-- <div class="navbar-dashboard"> -->
  <h1>Welcome to your DashBoard <%= @user.email %>!</h1>

<!-- </div> -->

<div class="container">
  <div class="cards-summaries">
    <div class="card-style2" style="background-color: #e24a65">
    <%= @user.hostels.count  %>
    Total Guests
    </div>
    <div class="card-style2" style="background-color: #e24a65">
     <%= @user.last_week_bookings %>
      Bookings This Week
    </div>
    <div class="card-style2" style="background-color: #e24a65" placeholder = "total earnings">
       £<%= @earnings %>
      Total Earnings
    </div>
  </div>
 <div class="payments-title">
  <h1>Recent Payments</h1>
 </div>

<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>#</th>
            <th>User_ID</th>
            <th>Hostel_ID</th>
            <th>Nights</th>
            <th>Amount Paid</th>
        </tr>
        </thead>
        <tbody>
          <% @latest_bookings.each_with_index do |late_booking, index| %>
           <% if late_booking.price? %>
        <tr>
            <td><%= index + 1 %></td>
            <td><%= late_booking.user_id%></td>
            <td><%= late_booking.hostel_id%></td>
            <td><%= late_booking.nights %></td>
            <td>£<%= late_booking.price %></td>
        </tr>
           <% end %>
          <% end %>
        <tbody>
    </table>



</div>


<div class="top-buttons">
    <button class ="btn btn-primary btn-lg" id='show'>Payment Method</button>

    <a href="https://ugcorigin.s-microsoft.com/100/afbbd294-f491-4f28-ae84-bbb704f48f4b/200/v2/image.jpg" class="btn btn-success btn-lg">Partner Invoices</a>



</div>



<form class="payment" id="form" style="display: none;" onsubmit="return validateForm()">
<body>
 <div class="payment-content">
    <div class="panel panel-default credit-card-box">
      <div class="panel-heading display-table">
        <div class="row display-tr">
          <h3 class="panel-title display-td">Payment Details</h3>
          <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
        </div>
      </div>
    </div>
    <br>
     <label for="cardNumber">CARD NUMBER*</label>
       <input type="text" size="10" class="form-control" name="cardNumber" placeholder="Valid Card Number" autocomplete="cc-number" required autofocus />
       <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
     <label for="cardExpiry">EXPIRATION DATE*</label>
       <input type="text" size="5" class="form-control" name="cardExpiry" placeholder="MM / YY" autocomplete="cc-exp" required />
     <label for="cardCVC">CV CODE*</label>
       <input type="text" size="3" class="form-control" name="cardCVC" placeholder="CVC" autocomplete="cc-csc" required />
     <label for="couponCode">DISCOUNT CODE</label>
      <input type="text" class="form-control" name="couponCode"/>
    <br>
     <button class="blueButton" id='hide' style="float:right;" type="submit">Confirm Payment</button>
    <br>
    <br>
 </div>
</form>

<!-- If you're using Stripe for payments -->

</body>
</div>







