<h1 class="header">Hostels</h1>

<button type="button" class="btn btn-light"><%= link_to "Create", new_hostel_path %></button>

<div class="containery">
  <% @hostels.each do |hostel| %>
    <div class="card-trip">
      <img src=<%= hostel.photo1 %>>
      <div class="card-trip-infos">
        <div>
            <h2><%= hostel.name %></h2>
            <button type="button" class="btn btn-light"><%= link_to "Show more", hostel_path(hostel) %></button>
             <button type="button" class="btn btn-light"><%= link_to "Book", new_hostel_booking_path(hostel) %></button>
          <p><%= hostel.address %></p>
          <h2 class="card-trip-pricing"><%= hostel.price %></h2>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>
<br>
<br>
<div class="containerr">
   <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      Contact us
    </div>
  </div>
</div>
